<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    <table>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
        <tr th:object="${user}">
            <td th:utext="${user.getId()}">Id</td>
            <td th:utext="${user.getUsername()}">Username</td>
            <td th:utext="${user.getFirstName()}">First Name</td>
            <td th:utext="${user.getLastName()}">Last Name</td>
            <td th:utext="${user.getAge()}">Age</td>
            <td th:utext="${user.getEmail()}">Email</td>
        </tr>
    </table>
</div>
<br/><br/>
<a href="/logout">Logout</a>
<br/><br/>
</body>
</html>